/*  Переменные со шрифтами  */
$accent-font: 'Inter', sans-serif;

/* основные цвета */
$c-accent       : #3300FF;
$c-gray         : #EFEFEF60;
$c-black        : #000000;
$c-light-black  : #00000050;
$c-white        : #FFFFFF;
$c-red          : #DC3545;
$c-dark-red     : #C82333;
